%h1 Home#index
%p Find me in app/views/home/index.html.haml
%p=link_to 'news_index', news_index_path
%p=link_to 'home_index', home_index_path
%p=link_to 'new_layout_index', new_layout_index_path
%p 静的イメージはpulicフォルダーに置く↓　%img{src: "images/thumbnail_IMG_1887.jpg", height: "80", width: "100"}
%img{src: "images/thumbnail_IMG_1887.jpg", height: "80", width: "100"}
%p 動的イメージ image_tagを利用する場合↓= image_tag "google/googlelogo_color_272x92dp.png", height: "80", width: "100"
= image_tag "google/googlelogo_color_272x92dp.png", height: "80", width: "100"